body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

html {
  margin: 0;
  padding: 0;
}

img {
  max-width:100%;
}

#main-container {
  background-color:#f5f5f5;
  background-image: url(./images/img-backgr.jpg);
  font-family: 'Abel', sans-serif;
  width: 100%;
  margin: auto;
  justify-content: center;
}

/* NAVBAR - HEADER - - FOOTER - BGR IMAGE*/
.header {
  align-items: center;
  margin-top: 3em;
}

.header__banner {
  text-align: center;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.header__banner--title {
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.header__banner--subtitle {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -1px;
  color: #fff;
  overflow-y: hidden;
}

.navbar {
  background-color: black;
  color: #f5f5f5;
  width: 100%;
  margin: auto;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
}

.nav__list-ul {
  list-style: none;
  align-items: center;
  display: flex;
  width: 100%;
}

.nav__list-li {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  font-size: 0.65rem;
}

.nav__list-li-left{
  color:#f5f5f5;
  display: flex;
  justify-content: center;
  width: 40%;
}

.link{
  justify-content: right;
  margin-right: 25px;
  width: 20%;
}

.logo{
  border: 5px solid white;
  padding: 15px;
}

.navbar__style{
  color:#f5f5f5;
  text-decoration: none;
}

.hover:hover {
  color: aqua;
  opacity: 0.7;
}

footer {
  background-color: black;
  color: #f5f5f5;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between!important;
  flex-direction: row!important;
  opacity: 0.8;
}

/* PRODUCT LIST */
#product-list {
  text-align: center;
  margin: 10px;
  margin-top: 40px;
}

.product {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  background-color: 	#FFFAFA;
  margin-bottom: 40px;
  box-shadow: 10px 10px 10px 5px black;
  opacity: 0.95;
}

.product__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 30px;
  max-height: auto;
  background-color: #553C2A;
}

.product__specs {
  width: 100%;
  margin: auto;
  text-align: center;
  /*color: #f5f5f5;*/
  color: #221812;
}

.product__specs-item{
  width: 100%;
  margin: auto;
  text-align: center;
  color: black;

}
.product__image--vintage-chair {
  height: 450px;
}

/* PRODUCT PAGE */
.product{
  display: flex;
  flex-direction: column;
}
.product-page__main {
  justify-content: center;
  margin-top: 40px;
}

.product-page__product {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.product-page__image {
  max-width: 90%;
  justify-items: center;
  margin: auto;
}

.product-page__form__label {
  color: #fff;
}

/* CART PAGE*/
.cart-page {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  margin: auto;
  background-color: 	#FFFAFA;
  margin-bottom: 4em;
  margin-top: 5em;
  box-shadow: 10px 10px 10px 5px black;
  opacity: 0.95;
}

.text__cartpage{
  font-size: 1em;
  background-color: black;
  opacity: 0.90;
  color: #FFFAFA ;
  margin-bottom: 1em;
}

.table {
  font-family: arial, sans-serif;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  opacity: 0.95;
}

td, th {
  font-size: 0.9rem;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 4px;
  width: 20%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*FORMULAIRE*/

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;

}*/
.form__button{
  width: 80%;
  justify-content: center;
  margin: auto;
  opacity: 0.9;
}

#form input {
  width: 90%;
  height: 2rem;
  border: solid #eeeeee 2px;
  margin: 2rem 0 0 0;
}

#textForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*#textForm::before {
  border-top: solid 2px #b6b6b6;
  content: "";
  display: inline-block;
  width: 20%;
  margin: 0 0 1rem 0;
}

#form + #submit {
  width: 100%;
  border: none;
  height: auto;
  margin: 2rem 0 2rem 0;
  line-height: 3.25rem;
  background-color: #212931;
  cursor: pointer;
  width: 70%;
  color: white;

}*/

#form textarea {
  width: 90%;
  margin: 2rem 0 0 0;
  border: solid #eeeeee 2px;
  font-family: 'Abel', sans-serif;
}


/* BUTTON */
.btn {
  text-align: center;
}
.btn-style {
  width: 50%;
  border: none;
  height: auto;
  margin: 1rem 0 2rem 0;
  line-height: 1.5rem;
  background-color: #212931;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  width: 70%;
  color: white;
  border: solid #212931 ;
}

.btn-style:hover {
  background-color: #FFFAFA;
  color: black;
  border: solid #212931 ;
}

.btn-style__product-page{
  width: 50%;
}

/* LABEL - DROPDOWN MENU */
.sheet__form div {
  width: 100%;
  margin: 1rem 0;
}
.sheet__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 4rem;
  justify-content: center;
  margin: auto;
}

.sheet__form div label {
  color: #212931;
  text-align: start;
  font-size: 0.8rem;
  letter-spacing: 0.075em;
  font-weight: 900;
}

.sheet__form div select {
  font-size: 0.8rem;
  height: 2rem;
  width: 50%;
  border: solid 2px #eeeeee;
  text-align: center;
}

.sheet__form div p {
  font-size: 1.5rem;}

/*CONFIRMATION PAGE */

.confirmation-page {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: auto;
  background-color: 	#FFFAFA;
  margin-top: 5em;
  margin-bottom: 5em;
  box-shadow: 10px 10px 10px 5px black;
  opacity: 0.95;
  padding-bottom: 2em;
}

.logo__confirmation-page{
  border: 5px solid black;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.confirmation-page__logo{
  justify-content: right;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

.table-confirmation{
  width: 95%;
  line-height: 2rem;
}

.confirmation-page-width{
  width: 90%;
  justify-content: center ;
  margin: auto;
}
li {
  list-style: none;
}
/***********************************************
Media querries
*/
/* iPhone 5/SE Styles */
@media only screen and (min-width: 300px) and (max-width: 330px) {

}

/* Mobile Styles */
@media only screen and (min-width: 330px) and (max-width: 500px) { 
  .presentation{
      width: 95%;
  }

}
   
/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  .presentation{
      width: 80%;
  }

  .product__specs {
    width: 80%;
    margin: auto;
  }

  .product{
    width: 90%;
  }

  .table {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .btn-style {
    font-size: 1rem;
    line-height: 2rem;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  /*HEADER */
  .header__banner--title {
      font-size: 3.5rem;
  }
  
  .header__banner--subtitle {
      font-size: 3rem;
      margin-top: 25px;
  }

  .navbar__style{
    font-size: 1.5rem;
  }

  .logo{
    font-size: 3em;
  }

  /*PRODUCT PAGE*/
  .product {
      width: 50%;
      padding: 2rem;
      margin-bottom: 35px;
  }
  
  .product__image {
      width: 50%;
  }
  
  .product__specs {
      width: 70%;
  }
 
  .product__specs-item {
    width: 90%;
}
div > .space {
  display: inline-block;
}

/* appending the commas */
div > .space:after { content: ", " }

/* removing it for the last index */
div > .space:last-of-type:after { content: "" }

  p {
    font-size: 25px;
  }
  .text-size--desktop-L{
    font-size: 30px;
    font-style: italic;
  }
  .text-size--desktop{
    font-size: 25px;
  }
/* BUTTON */
  .btn-style {
    margin: 2rem 0 2rem 0;
    line-height: 3rem;
    width: 100%;
    font-size: 1.5rem;
  }

  .btn-style__product-page{
    width: 50%;

  }

 
/* LABEL - DROPDOWN MENU */
  

  .sheet__form div {
    width: 100%;
    margin: 1rem 0;
  }
  .sheet__form {
    width: 50%;
  }
  
  .sheet__form div label {
    font-size: 1.2rem;
    letter-spacing: 0.075em;
    font-weight: 900;
  }
  .sheet__form div select {
    font-size: 1.1rem;
    height: 3rem;
    width: 50%;
  }
  
  .sheet__form div p {
    font-size: 1.5rem;
  }

  .product-page__form{
    margin-top: 25px;
  }

  .vernis{
    margin-top: 35px;
  }

/* CART PAGE */
  .cart-page {
    width: 80%;
    margin-bottom: 15em;
    margin-top: 5em;

  }
  .text__cartpage{
    font-size: 2em;
    margin-bottom: 1em;
  }
  .table {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .table-confirmation{
    width: 70%;
    line-height: 2.5rem;
  }
  td, th {
    padding: 8px;
    width: 20%;
    font-size: 1.2rem;
  }

/*FORMULAIRE*/

  .form__button{
    width: 40%;
  }

  #form input {
    width: 100%;
    height: 2.5rem;
    margin: 2rem 0 0 0;
  }

  #form textarea {
    width: 100%;
    margin: 2rem 0 0 0;
  }

/*CONFIRMATION PAGE */
  .confirmation-page {
    width: 80%;
    margin-top: 5em;
    margin-bottom: 18em;
    padding-bottom: 2em;
  }

  .logo__confirmation-page{
    border: 10px solid black;
    font-size: 3.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .confirmation-page__logo{
    width: 40%;
  }

  }
